<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Login</h1>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <spt-form
      [model]="user"
      [configs]="config"
    >
    </spt-form>
    <mat-checkbox>Stay logged in</mat-checkbox>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-button
            mat-raised-button
            (click)="throwErrorForSentry()"
    >
      Error
    </button>
    <button name="signIn"
            mat-raised-button
            color="primary"
            (click)="signIn(user.email, user.password)"
    >
      SIGN IN
    </button>
  </mat-card-actions>
</mat-card>
