<mat-card>

  <mat-card-header>
    <mat-card-title>
      <h1>Sign In</h1>
    </mat-card-title>
  </mat-card-header>

  <ng-container *ngIf="isSigningIn; else signInForm">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-container>

  <ng-template #signInForm>
    <mat-card-content>
      <spt-form
        [model]="user"
        [configs]="config"
        (submit)="signIn(user.email, user.password)"
      >
      </spt-form>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-button
              mat-raised-button
              (click)="throwErrorForSentry()"
      >
        Error
      </button>
      <button name="signIn"
              mat-raised-button
              color="primary"
              (click)="signIn(user.email, user.password)"
      >
        SIGN IN
      </button>
    </mat-card-actions>
  </ng-template>

</mat-card>
