<md-card>
  <md-card-header>
    <md-card-title>
      <h1>Login</h1>
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <form class="example-form">
      <md-input-container hintLabel="example@email.com">
        <input mdInput type="email" placeholder="Email" required>
      </md-input-container>
      <md-input-container>
        <input mdInput type="password" placeholder="Password" required>
      </md-input-container>
      <md-checkbox>Stay logged in</md-checkbox>
    </form>
  </md-card-content>
  <md-card-actions align="end">
    <button md-button (click)="throwErrorForSentry()">Cancel</button>
    <button md-raised-button color="primary" (click)="signIn('morier.dev@outlook.com', 'morier.dev')">
      SIGN IN
    </button>
  </md-card-actions>
</md-card>
<ng-container *ngIf="(user | async) as user">
  <p>{{ user.uid }}</p>
  <p>{{ user.email }}</p>
  <p>{{ user.displayName }}</p>
  <button md-button (click)="signOut()">Sign Out</button>
  <button md-button (click)="setDisplayName()">Set display name</button>
</ng-container>
