<ng-container *ngIf="(subscriptions | async) as subscriptions">
  <p i18n>
    There {
    subscriptions.length,
      plural,
      =0 {are no subscriptions}
      =1 {is one subscription}
      =2 {are two subscriptions}
      other {are some subscriptions}
    }.
  </p>

  <ul>
    <li *ngFor="let subscription of subscriptions">
      {{ subscription.name }}
    </li>
  </ul>

  <p i18n>
    There is an {
    subscriptions.length % 2 == 0 ? 'e' : 'o',
    select,
    e {even}
    o {odd}
    } amount of subscriptions.
  </p>
</ng-container>
<spt-babylon></spt-babylon>
