<div fxFill fxLayout="column">

  <header role="menu">
    <mat-toolbar color="primary"
                 class="mat-elevation-z4"
                 *sptLet="(user | async) as user"
    >
      <span>Spiti UI</span>
      <span class="spacer"></span>
      <a mat-button *ngIf="!user" [routerLink]="appRoutes.SignIn" i18n="Sign In title|Menu item">Sign In</a>
      <a mat-button *ngIf="user" [routerLink]="appRoutes.Editor" i18n="Editor title|Menu item">Editor</a>
      <a mat-button *ngIf="!user" [routerLink]="appRoutes.SignUp" i18n="Sign Up title|Menu item">Sign Up</a>
      <a mat-icon-button *ngIf="user"
         routerLink="account"
         [matTooltip]="user.email"
         matTooltipPosition="left"
      >
        <mat-icon>account_box</mat-icon>
      </a>
    </mat-toolbar>
  </header>

  <main role="main" fxFlex fxLayoutAlign="center center">
    <router-outlet></router-outlet>
  </main>

</div>
