<div fxFill fxLayout="column">

  <header role="header">
    <mat-toolbar color="primary">
      <a mat-button [routerLink]="appRoutes.SignIn" i18n="Sign In title|Menu item">Sign In</a>
      <a mat-button [routerLink]="appRoutes.Editor" i18n="Editor title|Menu item">Editor</a>
      <a mat-button [routerLink]="appRoutes.SignUp" i18n="Sign Up title|Menu item">Sign Up</a>
      <span class="spacer"></span>
      <a mat-icon-button
         routerLink="account"
         [matTooltip]="(user | async)?.email"
         matTooltipPosition="left"
      >
        <mat-icon>account_box</mat-icon>
      </a>
    </mat-toolbar>
  </header>

  <main role="main" fxFlex fxLayoutAlign="center center">
    <router-outlet></router-outlet>
  </main>

</div>
